<nav class="navbar navbar-default">

	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse">
	
	

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle user-action"><img [src]="consultInfo()?.image" class="avatar" alt="Avatar">{{consultInfo()?.name}} </a>
				<ul class="dropdown-menu">
					<li><a [routerLink]="['../../profile',code]"><i class="fa fa-user-o"></i> Profile</a></li>
					<li [hidden]="adminNavigate()"><a [routerLink]="['../../consultUsers',code]"><i class="fa fa-calendar-o" > </i> Consult users</a></li>
				
					<li class="divider"></li>
					<li><a href="../login"><i class="material-icons">&#xE8AC;</i> Logout</a></li>
					<li></li>
				</ul>
			</li>
		</ul>
	
	</div>
</nav>
