
<div class="container" >
    <div class="main-body">
    
    
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['../../home',code]">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>

          <div class="row gutters">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img [src]="usertab?.image" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{ usertab?.name}}</h4>
                      
                     
                    </div>
                  </div>
                </div>
              </div>
           
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Full Name</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ usertab?.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Email</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ usertab?.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Phone</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ usertab?.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Grade</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      Admin<input type="checkbox" [checked]="usertab?.admin" disabled/>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h5 class="mb-0">Task</h5>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ usertab?.task}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank" [routerLink]="['../../profile/edit',code]">Edit</a>
                    </div>
                  </div>
                </div>
              </div>




            </div>
          </div>

        </div>

    </div>
            
  

