

<div class="container">
    
   <div class="main_body">
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['../../home',code]">Home</a></li>
          <li class="breadcrumb-item active">Consult users</li>
        </ol>
      </nav>

      
    <div class="table-responsive">
        
        <div class="table-wrapper">
        
            <div class="table-title">

                
                <div class="row">
                    <div class="col-xs-5">
                        <h2>User <b>Management</b></h2>
                    </div>
                    <div class="col-xs-7">
                        <button (click)="hideWindow()"  class="btn btn-primary"><i class="material-icons">&#xE147;</i> <span>Add New User</span></button>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Code</th>	
                        <th>password</th>						
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Task</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let t of usertab   index as i">
                        <td>{{i+1}}</td>
                        <td><img [src]="t.image" class="avatar" alt="Avatar" height="40" width="40"> {{t.name}}</td>
                        <td>{{t.code}}</td>
                        <td>{{t.password}}</td>

                        <td>{{t.phone}}</td>                        
                        <td *ngIf="t.admin">Admin <img width="21" height="21" src="https://img.icons8.com/fluency/48/4a90e2/instagram-check-mark.png"/></td>
                        <td *ngIf="!t.admin">User</td>
                        <td>{{t.task}}</td>

                        <td>

                          <button style="border-radius: 15px;" (click)="deleteUser(t.id)" type="button" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash" ></span> Trash 
                          </button>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>

 
    </div>        
</div>   


<div [hidden]="hide" style="margin-left: 3%;margin-top:-7%;">
<form [formGroup]="userForm" (ngSubmit)="addInfo()" >
    <div class="row" >
     
      <div class="col-3">
        <label >Code <sup>*</sup></label>
        <input  type="text" class="form-control"  formControlName="code" />
      </div>
  
      <div class="col-3">
      <label >password<sup>*</sup></label><br>
      <input type="password" class="form-control"   formControlName="password" ><br>
      </div>
  
      <div class="col-3">
        <label >Name<sup>*</sup></label>
        <input type="text"   class="form-control"   formControlName="name" />
      </div>
 
      <div class="col-3">
        <label >Email<sup>*</sup></label>
        <input type="text"   class="form-control"   formControlName="email"  />
        <div class="alert alert-danger" style="margin-top:10px"   *ngIf="email.errors?.pattern && email?.touched">format email invalide </div>
        <div class="alert alert-warning" style="margin-top:10px"  *ngIf="email.errors?.required && email?.touched">required </div>
      
      </div>
      <div class="col-3">
        <label >Phone</label>
        <input type="text" class="form-control"    formControlName="phone"/><br>
        <div class="alert alert-danger" style="margin-top:-10px" *ngIf="phone.errors?.pattern && phone?.touched">format phone invalid </div>

      </div>
      <div class="col-3">
        <label >Task<sup>*</sup></label>
        <input type="text" class="form-control"    formControlName="task" /><br>

      </div>
      <div class="col-3">
  
        <div class="form-group">
          <label>Select Imgae to upload<sup>*</sup></label>
          <input type="file" formControlName="image"  (change)="showPreview($event)" accept="image/*" class="form-control" #fileUploader >
     
        </div>
      </div>
      <div class="row">
      <div class="col-3">
        <label >Admin</label>
        <input type="checkbox"   formControlName="admin"/><br>
      </div>
     
    </div>
    
      <div class="col-3">
        <br>
      <button class="btn btn-success"  [disabled]="userForm.invalid">confirm</button>
      <input class="btn btn-light"type="button" (click)="hideWindow()" value="cancel"/>
    </div>
    </div>
  
    
  
  

  </form>

</div></div>